<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>
    <h1> <%= kindOfDay %> </h1>

    <ul>
        <% for (i=0; i < newItems.length; i++) { %>
            <li><%= newItems[i] %></li>
        <% } %>
    </ul>
    

    <form action="/" method="POST"> 
        
        <input type="text" name="taskName" placeholder="Enter your task here">
        <input type="submit" name="btnSubmit" value="Add">

    </form>

    <!-- <form action="newList" method="POST">
        <input type="text" name="listName" placeholder="Enter your list name here">
        <button type="submit">New List</button>
    </form> -->
    
</body>
</html>